@import "tailwindcss";
@config "../../tailwind.config.js";

:root {
  --background: #ffffff ;
  --black: #141718;
  --white: #ffffff;
  --descriptiongray: #6C7275;
  --descriptionwhite: #FEFEFE;
  --subtitel: #3E3E59;
  --whitegray: #E8ECEF;
  --notactive: #6C7275;
  --action: #377DFF;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

/* Стилізація Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 4px;

}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #E8ECEF;
  border-radius: 10px;
  /* margin-top: 48px; 
  margin-bottom: 4px;   */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #343839;
  border-radius: 10px;
}
